.form-field {
  max-width: 250px;
  min-width: 150px;
  margin-bottom: 1.5%;
}

.log-in-form {
  margin-top: 3%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.error-message {
  font-size: 13px;
  color: #f44336;
}

button[type=submit] {
  min-width: 50px;
  max-width: 150px;
  margin-top: 2%;
}
