<mat-card-title>GitHub users table</mat-card-title>
<mat-card-content>
    <table mat-table [dataSource]="data">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th class="header-cell" mat-header-cell *matHeaderCellDef> No. </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{users.indexOf(element) + 1}} </td>
        </ng-container>

        <!-- Nick Column -->
        <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef> Nick </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.login}} </td>
        </ng-container>

        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar_url">
            <th mat-header-cell *matHeaderCellDef> Avatar </th>
            <td class="table-cell" mat-cell *matCellDef="let element"><img class="avatar" [src]="element.avatar_url" alt="avatar"></td>
        </ng-container>

        <!-- Profile Column -->
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Profile </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <!-- Repos Column -->
        <ng-container matColumnDef="repos_url">
            <th mat-header-cell *matHeaderCellDef> Repos </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.repos_url}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
</mat-card-content>
